node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/
.DS_Store
.env
.env.local
.env.production.local
.cache/
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/settings.json
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebase/
.firebaserc
.eslintcache
